<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Log in</title>
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.4/dist/sweetalert2.all.min.js"></script>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition login-page">
<div class="login-box" id="app">
  <div class="login-logo">
    <a href="login.html"><b>後台管理系統</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">請輸入您的帳號密碼</p>
      <p class="login-box-msg" th:text="${msg}"></p>
		
      <form id="userLogin">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="userName" placeholder="Email" v-model="loginForm.userAccount">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" v-model="loginForm.userPassword">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-block" form="userLogin"  v-on:click="userLogin()">登入</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">忘記密碼</a>
      </p>
      <p class="mb-0">
        <a href="register.html" class="text-center">註冊會員</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
<script>
const Toast = Swal.mixin({
    toast: true,
    position: 'top-right',
    showConfirmButton: false,
    showClass: {
        popup: 'animate__animated animate__fadeInRight'
    },
    hideClass: {
        popup: 'animate__animated animate__fadeOutRight'
    },
    timer: 2500,
    timerProgressBar: true,
    didOpen: toast => {
        toast.addEventListener('mouseenter', Swal.stopTimer);
        toast.addEventListener('mouseleave', Swal.resumeTimer);
    },
    showCloseButton: true
});

	
   const app  = Vue.createApp({
     data() {
       	return {
         		message: 'Hello Vue!',
        		dataList: [],
        		empty: null,
        		length: '',
        		formData:{empGender:'男'},
        		loginForm:{},
        		userInfo:{},
        		pagination: {//分頁相關資料
                    currentPage: 1,//當前頁
                    pageSize:10,//每頁顯示幾筆
                    total:0, //資料總筆數
                    pages:0,//總頁數
                    empName:'',
                    empAge:'',
                    empGender:''
                },
       	}
     },
     //頁面載入完成Vue後執行
     mounted(){
   	  		//查詢所有
   	  		//this.getAll();
   	  		
     },
     //頁面渲染前執行
     created(){
	  			const userInfo = window.localStorage.getItem('userInfo')
	  			if(userInfo){
	  			this.userInfo=JSON.parse(userInfo)
	  		}
	 },
     
     methods:{	 	 
         userLogin(){
       	  axios.post("/users/login",this.loginForm).then((response)=> {//成功時執行的回調函數
	  			  //判斷操作是否成功
	  			  if (response.data.flag) {	
	  				Toast.fire({
	  	                icon: 'success', title: '登入成功'
	  	            });
	  				localStorage.setItem('userInfo',JSON.stringify(response.data.data));
	  				window.location.href='/backend/admin_index.html';
				  }else {
					  Toast.fire({
		  	                icon: 'error', title: response.data.msg
		  	            });
				  }
		  		}).finally(()=>{	
		  		   //新增完成後再查詢一次，重整資料 	
	  			   //this.getAll();			  
		  		});    	  
         },
         userLogout(){
       	  axios.post("/users/logout").then((response)=> {//成功時執行的回調函數
	  			  //判斷操作是否成功
	  			  if (response.data.flag) {	
	  				Toast.fire({
	  	                icon: 'success', title: '登出成功'
	  	            });
	  				localStorage.removeItem('userInfo');
	  				window.location.href='/index.html';
				  }else {
					  Toast.fire({
		  	                icon: 'error', title: response.data.msg
		  	            });
				  }
		  		}).finally(()=>{	
		  		   //新增完成後再查詢一次，重整資料 	
	  			   //this.getAll();			  
		  		});    	  
         },

     }
   })

   app.mount('#app')


</script>
</html>
