<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="/img/favicon.ico"/>
<meta charset="UTF-8">
<title>首頁</title>
<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.4/dist/sweetalert2.all.min.js"></script>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>

<body>

 <nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
	<div id="app">
		<p>{{message}}</p>
		<p>{{length}}</p>
<!-- 		<p>{{dataList}}</p> -->
<!-- 		<ul> -->
<!-- 			<li v-for="item in dataList">{{item}}</li> -->
<!-- 			<li v-for="item in dataList">{{item.empId}}</li> -->
<!-- 		</ul> -->
<input type="text" v-model.trim="pagination.empName" placeholder="依姓名查詢">		
<input type="text" v-model.trim="pagination.empAge" placeholder="依年齡查詢">		
<input type="text" v-model.trim="pagination.empGender" placeholder="依性別查詢">		
<button type="button" class="btn btn-outline-success" @:click="getAll()" >
查詢
</button>		
		<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addForm" @:click="resetForm()">
  新增
</button>
<div class="card-body table-responsive">
				<h1 v-if="dataList.length===0">查無符合資料，請重新查詢</h1>
                <table id="example1" class="table table-bordered table-striped table-hover" v-if="dataList.length>0">
                  <thead>
                  <tr>
                    <th>員工ID</th>
                    <th>姓名</th>
                    <th>年齡</th>
                    <th>性別</th>
                    <th>部門</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="item in dataList">
                    <td>{{item.empId}}</td>
                    <td>{{item.empName}}</td>
                    <td>{{item.empAge}}</td>
                    <td>{{item.empGender}}</td>
                    <td>{{item.deptId}}</td>                 
                    <td class="d-flex">
                    	<button type="button"  class="btn btn-block btn-primary btn-sm my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#updateMoadl" v-on:click="openUpdateForm(item.empId)">編輯</button>
                    	&nbsp;
                    	<button type="button" class="btn btn-block btn-danger btn-sm my-2 my-sm-0" v-on:click="removeEmp(item.empId)">刪除</button>
                    	&nbsp;
                    	<button type="button" class="btn btn-block btn-danger btn-sm my-2 my-sm-0" v-on:click="updateStatus(item)">權限更改</button>
	
<!-- 								<div class="form-check form-switch"> -->
<!--   <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> -->
<!--   <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label> -->
<!-- </div> -->
<!-- {{item.deptId=='1'||item.deptId=='2' ? '有部門':'沒部門'}} -->
<!--  <div class="col"> -->
<!--             <div class="d-inline-block me-1">禁用</div> -->
<!--             <div class="form-check form-switch d-inline-block"> -->
<!--                 <input type="checkbox" class="form-check-input" id="site_state" style="cursor: pointer;"> -->
<!--                 <label for="site_state" class="form-check-label">啟用</label> -->
<!--                 </div> -->
<!--         </div> -->

					</td>
				
	
					

					
                  </tr> 
                  </tbody>
<!--                   <tfoot> -->
<!--                   <tr> -->
<!--                     <th>Rendering engine</th> -->
<!--                     <th>Browser</th> -->
<!--                     <th>Platform(s)</th> -->
<!--                     <th>Engine version</th> -->
<!--                     <th>CSS grade</th> -->
<!--                     <th>CSS grade</th> -->
<!--                   </tr> -->
<!--                   </tfoot> -->
                </table>
              </div>

<!-- Modal  彈出新增表單-->
<div class="modal fade"  data-bs-backdrop="static" id="addForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新增表單</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>       
      <div class="modal-body">
       <form id="addEmp" class="row g-3">
  	   		<div class="col-md-6">
   			 	<label for="inputEmail4" class="form-label">姓名</label>
    	 		<input type="text"  autocomplete="off" class="form-control" id="inputEmail4" v-model="formData.empName">
  			</div>
  			<div class="col-md-6">
    			<label for="inputPassword4" class="form-label">年齡</label>
    			<input type="text"  autocomplete="off" class="form-control" id="inputPassword4" v-model="formData.empAge">
  			</div>
  			<div class="col-12">
    			<label for="inputAddress" class="form-label">性別</label>
    			<div class="form-check">
  					<input class="form-check-input" value="男"  type="radio"  id="male" v-model="formData.empGender">
  					<!--checked屬性搭配v-model會抓不到 要在Vue的data模型中設定formData.empGender的初始值  -->
  					<label class="form-check-label" for="male">
    					男
  					</label>
				</div>
				<div class="form-check">
  					<input class="form-check-input" value="女" type="radio" id="female" v-model="formData.empGender">
  					<label class="form-check-label" for="female">
    					女
  					</label>
				</div>
  			</div>
  			<div class="col-12">
    			<label for="inputAddress2" class="form-label">Address 2</label>
    			<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  			</div>
  			<div class="col-md-6">
    			<label for="inputCity" class="form-label">City</label>
    			<input type="text" class="form-control" id="inputCity">
  			</div>
  			<div class="col-md-4">
    			<label for="inputState" class="form-label">State</label>
    			<select id="inputState" class="form-select">
      				<option selected>Choose...</option>
      				<option>...</option>
    			</select>
  			</div>
  			<div class="col-md-2">
    			<label for="inputZip" class="form-label">Zip</label>
    			<input type="text" class="form-control" id="inputZip">
  			</div>
  			<div class="col-12">
    			<div class="form-check">
     			  <input class="form-check-input" type="checkbox"  id="invalidCheck2"  required>
      		<label class="form-check-label" for="invalidCheck2">
        		Agree to terms and conditions
      		</label>
      			 
    	        </div>
  		    </div>
  			<div class="col-12">
    			<button type="submit" class="btn btn-primary" v-on:click="addEmp()">Sign in</button>
    			
  			</div>
		</form>
      </div><!-- modal-body -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button data-bs-dismiss="modal" class="btn btn-primary" form="addEmp" v-on:click="addEmp()">新增</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal  彈出修改表單-->
<div class="modal fade" id="updateMoadl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">修改表單</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>       
      <div class="modal-body">
       <form id="UpdateEmp" class="row g-3">
  	   		<div class="col-md-6">
   			 	<label for="inputEmail24" class="form-label">姓名</label>
    	 		<input type="text"  autocomplete="off" class="form-control" id="inputEmail24" v-model="formData.empName">
  			</div>
  			<div class="col-md-6">
    			<label for="inputPassword24" class="form-label">年齡</label>
    			<input type="text"  autocomplete="off" class="form-control" id="inputPassword24" v-model="formData.empAge">
  			</div>
  			<div class="col-12">
    			<label for="inputAddress" class="form-label">性別</label>
    			<div class="form-check">
  					<input class="form-check-input" value="男" type="radio" name="flexRadioDefault" id="flexRadioDefault21" v-model="formData.empGender">
  					<label class="form-check-label" for="flexRadioDefault21">
    					男
  					</label>
				</div>
				<div class="form-check">
  					<input class="form-check-input" value="女" type="radio" name="flexRadioDefault" id="flexRadioDefault22" v-model="formData.empGender">
  					<label class="form-check-label" for="flexRadioDefault22">
    					女
  					</label>
				</div>
  			</div>
  			   		 		
  			<div class="col-12">
    			<div class="form-check">
     			 <input class="form-check-input" type="checkbox" id="gridCheck1" required>
      			 <label class="form-check-label" for="gridCheck1">
        		  Check me out
      			 </label>
      			 
    	        </div>
  		    </div>
  			<div class="col-12">
    			<button type="submit" class="btn btn-primary" v-on:click="updateEmp()">Sign in</button>
  			</div>
		</form>
      </div><!-- modal-body -->
      <div class="modal-footer">
        <button  :plain="true" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="">取消</button>
        <button  class="btn btn-primary" data-bs-dismiss="modal" form="updateEmp" v-on:click="updateEmp()">修改</button>
      </div>
    </div>
  </div>
</div>
<a>總筆數:{{pagination.total}}</a><br>
<a>總頁數:{{pagination.pages}}</a><br>
<a>當前頁:{{pagination.currentPage}}</a>
<div class="">
     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
          <ul class="pagination justify-content-center">
              <li class="paginate_button page-item previous" id="example1_previous" :class="{ 'disabled' : pagination.currentPage === 1}">
              		<a v-on:click="changePage(1)" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">首頁</a>
              </li>
              <li class="paginate_button page-item previous" id="example1_previous">
              		<a v-on:click="changePage(pagination.currentPage-1)" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">上一頁</a>
              </li>
              <!-- th:class="${num==page.current?'active':''}"  class="paginate_button page-item active" -->
              <li class="paginate_button page-item" v-for="item in pagination.pages" :class="{ 'active' : pagination.currentPage === item }">
              		<a v-if="item <11" v-on:click="changePage(item)" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link" >{{item}}</a>
              </li>
<!--               		<a v-on:click="changePage(pagination.currentPage-1)" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link" >{{pagination.currentPage-1}}</a> -->
<!--               		<a v-on:click="changePage(pagination.currentPage)" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link" >{{pagination.currentPage}}</a> -->
<!--               		<a v-on:click="changePage(pagination.currentPage+1)" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link" >{{pagination.currentPage+1}}</a> -->
              
              <li class="paginate_button page-item next" id="example1_next" th:classappend="${page.current==page.pages?'disabled':''}">
              		<a v-on:click="changePage(pagination.currentPage+1)" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">下一頁</a>
              </li>
              <li class="paginate_button page-item next" id="example1_next" :class="{ 'disabled' : pagination.currentPage === pagination.pages}">
              		<a v-on:click="changePage(pagination.pages)" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">末頁</a>
              </li>
              </ul>
              <input type="text" v-model="pagination.currentPage" v-on:blur="changePage(pagination.currentPage)" v-on:keyup.enter="changePage(pagination.currentPage)">
      </div>
</div>
<form id="userLogin" v-if="JSON.stringify(userInfo)=='{}'">
		帳號:<input type="text" name="username" v-model="loginForm.userAccount"><br> 
		密碼:<input type="password" name="password" v-model="loginForm.userPassword"><br> 
		<input type="button" value="登入" form="userLogin" v-on:click="userLogin()"><br>
</form>
<p>{{userInfo.userName}}</p>
<button v-if="JSON.stringify(userInfo)!='{}'" v-on:click="userLogout()">登出</button>
<!-- <template> -->
<!--    <div class="pagination-container"> -->

<!--                 <el-pagination class="pagiantion" @current-change="changePage" -->

<!--                         :current-page="pagination.currentPage" -->

<!--                         :page-size="pagination.pageSize" -->

<!--                         layout="total, prev, pager, next, jumper" -->

<!--                         :total="pagination.total"> -->

<!--                 </el-pagination> -->

<!--             </div> -->
<!-- </template>             -->
	</div>
	<a href="/thymeleaf">跳轉測試</a><br>
	<a href="/car/1/owner/lee">params測試/car/{id}/owner/{user}</a>
	<form action="/user" method="post">
		<input type="hidden" name="_method" value="delete"> 
		<input type="submit" value="springboot刪除使用者"><br>
	</form>
	<form action="/user" method="get">
		<input type="submit" value="springboot get 測試"><br>
	</form>
	

</body>

<script>
//import ElementPlus from 'element-plus';
/**
 *  
 methods:{
 testAjax(){
 	axios({
	  url:"",//請求路徑
	  method:"",//請求方式
	  params:{},
	  //請求參數:name=value&name=value的方式傳輸 
	  不管傳輸方式為get或post請求參數都會被拼接到url後,可透過request.getParameter()獲取
	  data:{}//請求參數:json格式發送的請求參數,請求參數會被保存到請求報文的請求體(HTTP報文主體)傳輸到伺服器 
	  (get方式無請求體) ,不可透過request.getParameter()獲取
  }).then(function (response) {//成功時執行的回調函數
      console.log(response);
  }).catch(function (error) {//有異常時執行的回調函數
      console.log(error);
  });
 }
 }).mount('#app')
 */

 //import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

 const Toast = Swal.mixin({
     toast: true,
     position: 'top-right',
     showConfirmButton: false,
     showClass: {
         popup: 'animate__animated animate__fadeInRight'
     },
     hideClass: {
         popup: 'animate__animated animate__fadeOutRight'
     },
     timer: 2500,
     timerProgressBar: true,
     didOpen: toast => {
         toast.addEventListener('mouseenter', Swal.stopTimer);
         toast.addEventListener('mouseleave', Swal.resumeTimer);
     },
     showCloseButton: true
 });
 
 	
    const app  = Vue.createApp({
      data() {
        	return {
          		message: 'Hello Vue!',
         		dataList: [],
         		empty: null,
         		length: '',
         		formData:{empGender:'男'},
         		loginForm:{},
         		userInfo:{},
         		pagination: {//分頁相關資料
                     currentPage: 1,//當前頁
                     pageSize:10,//每頁顯示幾筆
                     total:0, //資料總筆數
                     pages:0,//總頁數
                     empName:'',
                     empAge:'',
                     empGender:''
                 },
        	}
      },
      //頁面載入完成Vue後執行
      mounted(){
    	  		//查詢所有
    	  		this.getAll();
    	  		
      },
      //頁面渲染前執行
      created(){
	  			const userInfo = window.localStorage.getItem('userInfo')
	  			if(userInfo){
	  			this.userInfo=JSON.parse(userInfo)
	  		}
	 },
      
      methods:{
    	  getAll() {//查詢所有資料並進行分頁
    		  		param="?qyery"
    		  		param+="&empName="+this.pagination.empName;
    		  		param+="&empAge="+this.pagination.empAge;
    		  		param+="&empGender="+this.pagination.empGender;
    		  		axios.get("/emps/"+this.pagination.currentPage+"/"+this.pagination.pageSize+param).then((response)=> {//成功時執行的回調函數
  		 		      console.log(response.data);
  		 		      console.log(response.data.data.records.length);
  		 		      console.log(response.data.data.records[0]);
  		 		      console.log(response.data.data);
  		 		   	  this.pagination.currentPage=response.data.data.current;
  		 		   	  this.pagination.pageSize=response.data.data.size;
  		 		   	  this.pagination.total=response.data.data.total;
  		 		   	  this.pagination.pages=response.data.data.pages;
    		  		  this.dataList = response.data.data.records;
		 			  this.length = response.data.data.length;
  		 		  });
    	  },
    	  changePage(currentPage){
    		  	this.pagination.currentPage=currentPage;
    		  	this.getAll();
    	  },
    	  addEmp() {
		  			axios.post("/emps",this.formData).then((response)=> {//成功時執行的回調函數
		  			  //判斷操作是否成功
		  			  if (response.data.flag) {
		  				
		  				//this.$refs.Close.click();
// 		  				Swal.fire({
// 	       	  				  position: 'top',
// 	       	  				  icon: 'success',
// 	       	  				  title: '新增成功',
// 	       	  				  showConfirmButton: false,
// 	       	  				  timer: 3000
// 	       	  				})		
		  				Toast.fire({
		  	                icon: 'success', title: '資料新增成功'
		  	            });
					  }else {
						  Toast.fire({
			  	                icon: 'error', title: response.data.msg
			  	            });
					  }
	 		  		}).finally(()=>{	
	 		  		   //新增完成後再查詢一次，重整資料 	
		  			   this.getAll();			  
	 		  		});
	 	  },
	 	  removeEmp(empId){		  	　
	  		   	   Swal.fire({
                   		title: "確定刪除此項資料(序號:" + empId + ")?",
                   		text:"刪除後將無法復原，請謹慎操作！",
                   		icon: "warning",
                   		showCancelButton: true,
                   		closeOnConfirm: false, //false=確認時關閉彈出框
                   		showLoaderOnConfirm: true,
                   		showCloseButton: true, //右上角x
                   		confirmButtonClass: "btn-danger",
                   	 	confirmButtonColor: '#d33',
                   		cancelButtonText: "取消",
                   		confirmButtonText: "刪除",
                   	 	//reverseButtons: true //反轉按鈕位置讓確定在右側
               	   }).then((result)=>{
               		   if (result.isConfirmed) {			
               		 axios.delete("/emps/"+empId).then((response)=> {//成功時執行的回調函數
       	  			  //判斷操作是否成功
       	  			  if (response.data.flag) {
       	  				Swal.fire({
       	  				  position: 'top',
       	  				  icon: 'success',
       	  				  title: '資料刪除成功',
       	  				  showConfirmButton: false,
       	  				  timer: 3000
       	  				})				
       				  }else {
       					Swal.fire({
         	  				  position: 'top',
         	  				  icon: 'error',
         	  				  title: '資料刪除失敗，請重新嘗試',
         	  				  showConfirmButton: false,
         	  				  timer: 3000
         	  				})	
       				  }
       		  		}).finally(()=>{
       		  		   //刪除完成後再查詢 	
       	  			   this.getAll();
       		  		});  
               		 
					}		   
               	   });

	      },
	      openUpdateForm(empId) {
	  			axios.get("/emps/"+empId).then((response)=> {//成功時執行的回調函數
	  				//判斷操作是否成功
					 
	  			  if (response.data.flag && response.data.data!=null ) {
	  			  		this.formData = response.data.data;	 			  					
				  }else {
//					  	bootstrap.Modal.getOrCreateInstance(document.getElementById('updateMoadl')).hide()
// 					  	this.hideModal = new bootstrap.Modal(document.getElementById('updateMoadl'));
// 					  	this.hideModal.hide();
						Swal.fire({
       	  				  position: 'top',
       	  				  icon: 'error',
       	  				  title: '資料獲取失敗，請重新嘗試',
       	  				  showConfirmButton: false,
       	  				  timer: 3000
       	  				})	
					  	
				  }
		  		}).finally(()=>{
		  			
		  		   //新增完成後再查詢 	
	  			   this.getAll();
		  		});
	  	  },
	  	 　updateEmp() {
	  			axios.put("/emps",this.formData).then((response)=> {//成功時執行的回調函數
	  			  //判斷操作是否成功
	  			  if (response.data.flag) {
	  				 //console.log(this.formData.empId);
	  				Toast.fire({
	  	                icon: 'success', title: '資料修改成功'
	  	            });
				  }else {
					  Toast.fire({
		  	                icon: 'error', title: '資料修改失敗，請重新嘗試'
		  	            });
				  }
		  		}).finally(()=>{	
		  		   //新增完成後再查詢一次，重整資料 	
	  			   this.getAll();			  
		  		});
	      },
	  	  //清空表單
          resetForm() {
              this.formData = {empGender:'男'};          
             
          },
          userLogin(){
        	  axios.post("/users/login",this.loginForm).then((response)=> {//成功時執行的回調函數
	  			  //判斷操作是否成功
	  			  if (response.data.flag) {	
	  				Toast.fire({
	  	                icon: 'success', title: '登入成功'
	  	            });
	  				localStorage.setItem('userInfo',JSON.stringify(response.data.data));
	  				const userInfo = window.localStorage.getItem('userInfo')
		  			if(userInfo){
		  			this.userInfo=JSON.parse(userInfo)
		  			}
	  				//window.location.href='/index.html';
				  }else {
					  Toast.fire({
		  	                icon: 'error', title: response.data.msg
		  	            });
				  }
 		  		}).finally(()=>{	
 		  		   //新增完成後再查詢一次，重整資料 	
	  			   this.getAll();			  
 		  		});    	  
          },
          userLogout(){
        	  axios.post("/users/logout").then((response)=> {//成功時執行的回調函數
	  			  //判斷操作是否成功
	  			  if (response.data.flag) {	
	  				Toast.fire({
	  	                icon: 'success', title: '登出成功'
	  	            });
	  				localStorage.removeItem('userInfo');
	  				window.location.href='/index.html';
				  }else {
					  Toast.fire({
		  	                icon: 'error', title: response.data.msg
		  	            });
				  }
 		  		}).finally(()=>{	
 		  		   //新增完成後再查詢一次，重整資料 	
	  			   //this.getAll();			  
 		  		});    	  
          },
         　updateStatus(item) {
        	   this.empName=item.empName;
	  			axios.put("/emps",{empId:item.empId,empName:this.empName.length>2?"張三":"老李"}).then((response)=> {//成功時執行的回調函數
	  			  //對應的欄位名:數值 修改權限測試  三元運算判斷測試 姓名長度>2更新為張三 反之老李
	  			  //判斷操作是否成功
	  			  if (response.data.flag) {
	  				 //console.log(this.formData.empId);
	  				Toast.fire({
	  	                icon: 'success', title: '權限修改成功'
	  	            });
				  }else {
					  Toast.fire({
		  	                icon: 'error', title: '修改失敗，請重新嘗試'
		  	            });
				  }
		  		}).finally(()=>{	
		  		   //新增完成後再查詢一次，重整資料 	
	  			   this.getAll();			  
		  		});
	      },
    	  testAjax(){	
    		 		axios.post(
    		 			"/CardstoreSSM/test/ajax?id=1001",
    		 			{username:"admin",password:"123456"}		
    		 		).then(function (response) {//成功時執行的回調函數
    		 		      console.log(response);
    		 		  });
    	  },
    	  testRequestBody(){
    		  	axios.post(
    		  		 "/CardstoreSSM/test/RequestBody/json",
    		  		{username:"admin",password:"123456",age:23,gender:"男"}
    		   ).then(function (response) {//成功時執行的回調函數
		 		      console.log(response);
		 		  });
    	  },
    	  testResponseBody(){
    		  axios.post(
     		  		 "/CardstoreSSM/test/ResponseBody/json"
     		   ).then(function (response) {//成功時執行的回調函數
 		 		      console.log(response);
 		 		  });
    	  }
      }
    })

    app.mount('#app')
 
      
    
</script>
</html>